<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>{% block title %}Stardew Planner{% endblock %}</title>

</head>

<body id="boxes">
    
    <div id="content" class="principal">
        {% block content %}{% endblock %}
    </div>

    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/planner">Home</a></li>
        </ul>
        {% endblock %}
    </div>
    
</body>
</html>